<html>
    <head>
        <title>CV Formation Git-GitHub</title>
        <meta name="description" content="CV Yoann RICHARD."/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <ul class="nav nav-tabs">
                <li  role="presentation"><a  href="../index.html">Home</a></li>
                <li role="presentation" class="dropdown">                    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">CV <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../views/cv_yoann.html">Concepteur et développeur d'application</a></li>                              
                    </ul>                    
                </li>
                <li class="active"><a href="contact.html">Contact</a></li> 
            </ul>      
            <header>
                <div class="jumbotron">
                    <div class="container">
                        <div class="containerv text-center">
                            <h2>Bienvenue sur notre site de gestion de CV</h2> 
                        </div>
                    </div>
                </div>  
            </header>
            <section class="row-offcanvas row-offcanvas-right"> 
                <section class="panel panel-default ">
                    <h2 class="panel-heading">Formulaire de contact</h2>
                    <form class="form-horizontal" action="" method="post" >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for=nom>Nom et prénom</label>
                                    <div class="col-sm-10">
                                        <input id=nom name=nom type=text placeholder="Prénom et nom" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for=email>Email</label>
                                    <div class="col-sm-10">
                                        <input id=email name=email type=email placeholder="exemple@domaine.com" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for=objet>objet</label>
                                    <div class="col-sm-10">
                                        <input id=objet name=objet type=text placeholder="Objet du message" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for=telephone>Téléphone</label>            
                                    <div class="col-sm-10">
                                        <input id=telephone name=telephone type=tel placeholder="par ex&nbsp;: 00 00 00 00 00" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input  id="envoie_message" name=envoie_message type=submit value=Envoyer /> 
                                    </div>  
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for=message>Message</label> 
                                    <div class="col-sm-10">
                                        <textarea id=message name=message rows="10" cols="50" placeholder="Mettre votre message" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">                                       
                                            <input id="annule_message" name=annule_message type=reset value=Annuler /> 
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </section>
            <section>
                <section class="row-offcanvas row-offcanvas-right"> 
                    <section class="panel panel-default ">
                        <h2 class="panel-heading">Carte</h2>
                        <div class="row">
                            <div class="col-md-12 text-center"> 
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d660.1923616918073!2d-2.551709000000034!3d48.55681000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDMzJzI0LjUiTiAywrAzMycwNi4yIlc!5e0!3m2!1sfr!2sfr!4v1434470042411" width="1000" height="450" frameborder="0" style="border:0"></iframe>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
            <footer class="row-offcanvas row-offcanvas-right">
                <p>&copy; 2015 Yoann Erwan DTA<p>
            </footer>
        </div>          
    </body>
</html>
