<!DOCTYPE html>
<html>
    <head>
        <title>Yoann RICHARD CV </title>

        <meta name="viewport" content="width=device-width"/>
        <meta name="description" content="CV Yoann RICHARD."/>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active" role="presentation"><a  href="../index.html">Home</a></li>
                <li role="presentation" class="dropdown">                    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CV <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="cv_yoann.html">CV Yoann RICHARD</a></li> 
                        <li><a href="cv_erwan.html">CV Erwan JORNATHAN</a></li>                    
                    </ul>                    
                </li>
                <li><a href="contact.html">Contact</a></li> 
            </ul>      
            <header>
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"><img src="../img/yr.png" alt="Ici photo de Yoann RICHARD" class="img-circle"></div>
                            <div class="col-md-10 text-center">
                                <h1>Ingénieur d’Etudes</h1>
                                <h1>Développement JAVA/JEE Junior</h1>
                                <h2>Yoann RICHARD</h2>
                            </div>                    
                        </div> 
                    </div>
                </div>  

            </header>
            <section class="row-offcanvas row-offcanvas-right"> 
                <section class="panel panel-default ">
                    <h2 class="panel-heading">Domaines de compétences</h2>
                    <div class="row ">
                        <div class="col-xs-6 col-lg-3">
                            <h3>Gestion de projet</h3>
                            <p>Management d'un rayon multimédia</p> 
                            <p>et d'une équipe de 5 personnes</p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-3">
                            <h3>Assurance Qualité</h3>
                            <p>Technicien informatique chez Proservia et Kermené</p>                       
                            <ul>
                                <li>Norme NF345</li>
                                <li>ISO 9001</li>
                            </ul>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-3">
                            <h3>Qualités personnelles</h3>
                            <p>Curieux</p>                        
                            <p>Analyste</p>                        
                            <p>Qualités relationnelles</p>                        
                            <p>Adaptabilité</p>                        
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-3">
                            <h3>Domaine Fonctionnel</h3>
                            <p>Secteur de l'industrie agroalimentaire</p>                        
                            <p>Secteur de la grande distribution</p>                        
                        </div><!--/.col-xs-6.col-lg-4-->                   
                    </div>
                </section>        
                <section class="panel panel-default ">
                    <h2 class="panel-heading">Environnement Technique</h2>
                    <div class="row ">
                        <div class="col-xs-6 col-lg-3">
                            <h3>JAVA /J2E</h3>                                                         
                            <button type="button" class="btn btn-default ">Spring</button>
                            <button type="button" class="btn btn-default ">Strut</button>
                            <button type="button" class="btn btn-default ">EJB</button>                                    
                            <button type="button" class="btn btn-default ">JSP</button>  
                            <button type="button" class="btn btn-default ">JPA</button>  
                            <button type="button" class="btn btn-default ">SERVLET</button>  
                            <button type="button" class="btn btn-default ">Hibernate</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-3">
                            <h3>IDE</h3>                                                         
                            <button type="button" class="btn btn-default ">NetBean</button>
                            <button type="button" class="btn btn-default ">Eclipse</button>
                            <button type="button" class="btn btn-default ">Visual Studio 2012</button>                                    
                            <button type="button" class="btn btn-default ">Bracket</button>    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-3">
                            <h3>SGBDR</h3>                                                         
                            <button type="button" class="btn btn-default ">MySQL</button>
                            <button type="button" class="btn btn-default ">Oracle</button>
                            <button type="button" class="btn btn-default ">MongoDB</button>                                    
                            <button type="button" class="btn btn-default ">SQL Server</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-3">
                            <h3>FONT</h3>                                                       
                            <button type="button" class="btn btn-default ">HTML/CSS</button>
                            <button type="button" class="btn btn-default ">AngularJS</button>
                            <button type="button" class="btn btn-default ">Bootstrap</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-3">
                            <h3>LANGAGE</h3>                                                       
                            <button type="button" class="btn btn-default ">Visual Basic.Net</button>
                            <button type="button" class="btn btn-default ">JAVA</button>
                            <button type="button" class="btn btn-default ">PHP</button>                                    
                            <button type="button" class="btn btn-default ">JAVASCRIPT</button>                                    
                            <button type="button" class="btn btn-default ">POWERSHELL</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-3">
                            <h3>Méthodes</h3>                                                       
                            <button type="button" class="btn btn-default ">AGILE</button>
                            <button type="button" class="btn btn-default ">SCRUM</button>
                            <button type="button" class="btn btn-default ">SPRINT</button>                                    
                            <button type="button" class="btn btn-default ">XP</button>                                    
                            <button type="button" class="btn btn-default ">MERISE</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-3">
                            <h3>Certification</h3>                                                       
                            <button type="button" class="btn btn-default ">Développer la persistance des données (ccp001333)</button>
                            <button type="button" class="btn btn-default ">développer des composants d'interface (ccp001332)</button>                                                          
                        </div><!--/.col-xs-6.col-lg-4--> 
                    </div>
                </section>
                <section  class="panel panel-default ">
                    <h2 class="panel-heading">Formation</h2>
                    <ul>
                        <li><h3 class="label label-default">2015 (55 jours) </h3>:
                            <ul >
                                <li class="list-unstyled">Formation développement JAVA/JEE, <em>Saint-Herblain</em> (44)</li>
                                <li class="list-unstyled">Certification JAVA 7 SE</li>                    
                            </ul>    
                        </li>                
                        <li><h3 class="label label-default">2013 :</h3>
                            <ul>
                                <li class="list-unstyled">ENI ECOLE CHARTRES DE BRETAGNE, <em>Chatres de Bretagne</em> (35)</li>
                                <li class="list-unstyled">CONCEPTEUR DEVELOPPEUR D'APPLICATION
                                    <ul>
                                        <li>Animer et conduire la réalisation de projets</li>
                                    </ul>                      
                                </li> 
                            </ul>
                        </li>
                        <li><h3 class="label label-default">2006 :</h3>
                            <ul>
                                <li class="list-unstyled">UCO, <em>Guinguamp</em> (35)</li>
                                <li class="list-unstyled">LICENCE PROFESSIONNELLE DE TECHNICO-COMMERCIA
                                    <ul>
                                        <li>Identifier les besoins du client </li>   
                                        <li>Etablit un cahier des charges avant de proposer une offre</li>    
                                    </ul>                      
                                </li>                                                      
                            </ul>
                        </li>
                        <li><h3 class="label label-default">2005 :</h3>
                            <ul>
                                <li class="list-unstyled">LYCEE SAINT SAUVEUR, <em>REdon</em> (35)</li>
                                <li class="list-unstyled">BTS INFORMATIQUE DE GESTION</li>                                                    
                            </ul>
                        </li>              
                    </ul>
                </section>
                <section  class="panel panel-default ">
                    <h2 class="panel-heading">Expériences professionnelles</h2>
                    <ul>
                        <li>07/2015 – 09/2015	DTA Ingénierie :
                            <ul>
                                <li>Spring</li>
                                <li>Strut</li>
                                <li>Ejb</li>
                            </ul>    
                        </li>                
                        <li>07/2015 – 09/2015	Clever Institut – DTA Ingénierie, Saint Herblain (44)
                            <ul>
                                <li>NetBean</li>
                                <li>Eclipse</li>
                                <li>AngularJS</li>
                                <li>Visual Studio</li>
                                <li>Bracket</li>
                                <li>SublimeText</li>                       
                            </ul>
                        </li>
                        <li>04/2015 – 07/2015	KERMENE – SAINT JACUT DU MENE :
                            <ul>
                                <li>SQL Serveur</li>
                                <li>MySql</li>                      
                            </ul>
                        </li>
                        <li>02/2014 – 10/2014	KERMENE – SAINT JACUT DU MENE :
                            <ul>
                                <li>VB.Net</li>
                                <li>JAVA</li>                      
                                <li>PHP</li>                      
                                <li>JAVASCRIPT</li>                      
                                <li>POWERSHELL</li>                      
                            </ul>
                        </li>

                    </ul>
                </section>
            </section>
            <footer class="row-offcanvas row-offcanvas-right">
                <p >&copy; 2015 Yoann Erwan DTA<p>
            </footer>
        </div>
    </body>
</html>