<!DOCTYPE html>
<html>
    <head>
        <title>Yoann RICHARD CV </title>

        <meta name="viewport" content="width=device-width"/>
        <meta name="description" content="CV Yoann RICHARD."/>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active" role="presentation"><a  href="../index.html">Home</a></li>
                <li role="presentation" class="dropdown">                    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CV <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="cv_yoann.html">CV Yoann RICHARD</a></li> 
                        <li><a href="cv_erwan.html">CV Erwan JORNATHAN</a></li>                    
                    </ul>                    
                </li>
                <li><a href="contact.html">Contact</a></li> 
            </ul>      
            <header>
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"><img src="../img/yr.png" alt="Ici photo de Yoann RICHARD" class="img-circle"></div>
                            <div class="col-md-10 text-center">
                                <h1>Ingénieur d’Etudes</h1>
                                <h1>Développement JAVA/JEE Junior</h1>
                                <h2>Yoann RICHARD</h2>
                            </div>                    
                        </div> 
                    </div>
                </div>  

            </header>
            <section class="row-offcanvas row-offcanvas-right"> 
                <section class="panel panel-default ">
                    <h2 class="panel-heading">Domaines de compétences</h2>
                    <div class="row ">
                        <div class="col-xs-6 col-lg-3">
                            <h3>Gestion de projet</h3>
                            <p>Management d'un rayon multimédia</p> 
                            <p>et d'une équipe de 5 personnes</p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-3">
                            <h3>Assurance Qualité</h3>
                            <p>Technicien informatique chez Proservia et Kermené</p>                       
                            <ul>
                                <li>Norme NF345</li>
                                <li>ISO 9001</li>
                            </ul>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-3">
                            <h3>Qualités personnelles</h3>
                            <p>Curieux</p>                        
                            <p>Analyste</p>                        
                            <p>Qualités relationnelles</p>                        
                            <p>Adaptabilité</p>                        
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-3">
                            <h3>Domaine Fonctionnel</h3>
                            <p>Secteur de l'industrie agroalimentaire</p>                        
                            <p>Secteur de la grande distribution</p>                        
                        </div><!--/.col-xs-6.col-lg-4-->                   
                    </div>
                </section>        
                <section class="panel panel-default ">
                    <h2 class="panel-heading">Environnement Technique</h2>
                    <div class="row ">
                        <div class="col-xs-6 col-lg-4">
                            <h3>JAVA /J2E</h3>                                                         
                            <button type="button" class="btn btn-default ">Spring</button>
                            <button type="button" class="btn btn-default ">Strut</button>
                            <button type="button" class="btn btn-default ">EJB</button>                                    
                            <button type="button" class="btn btn-default ">JSP</button>  
                            <button type="button" class="btn btn-default ">JPA</button>  
                            <button type="button" class="btn btn-default ">JAX-RS</button>  
                            <button type="button" class="btn btn-default ">SERVLET</button>  
                            <button type="button" class="btn btn-default ">Hibernate</button>                                    
                            <button type="button" class="btn btn-default ">Maven</button>                                    
                            <button type="button" class="btn btn-default ">Jenkins</button>                                    
                            <button type="button" class="btn btn-default ">Sonar</button>                                    
                            <button type="button" class="btn btn-default ">Nexus</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-4">
                            <h3>IDE</h3>                                                         
                            <button type="button" class="btn btn-default ">NetBean</button>
                            <button type="button" class="btn btn-default ">Eclipse</button>
                            <button type="button" class="btn btn-default ">Visual Studio 2012</button>                                    
                            <button type="button" class="btn btn-default ">Bracket</button>    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-4">
                            <h3>SGBDR</h3>                                                         
                            <button type="button" class="btn btn-default ">MySQL</button>
                            <button type="button" class="btn btn-default ">Oracle</button>
                            <button type="button" class="btn btn-default ">MongoDB</button>                                    
                            <button type="button" class="btn btn-default ">SQL Server</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-4">
                            <h3>FONT</h3>                                                       
                            <button type="button" class="btn btn-default ">HTML/CSS</button>
                            <button type="button" class="btn btn-default ">AngularJS</button>
                            <button type="button" class="btn btn-default ">Bootstrap</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-4">
                            <h3>LANGAGE</h3>                                                       
                            <button type="button" class="btn btn-default ">Visual Basic.Net</button>
                            <button type="button" class="btn btn-default ">JAVA</button>
                            <button type="button" class="btn btn-default ">PHP</button>                                    
                            <button type="button" class="btn btn-default ">JAVASCRIPT</button>                                    
                            <button type="button" class="btn btn-default ">POWERSHELL</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-4">
                            <h3>METHODES</h3>                                                       
                            <button type="button" class="btn btn-default ">AGILE</button>
                            <button type="button" class="btn btn-default ">SCRUM</button>
                            <button type="button" class="btn btn-default ">SPRINT</button>                                    
                            <button type="button" class="btn btn-default ">XP</button>                                    
                            <button type="button" class="btn btn-default ">MERISE</button>                                    
                        </div><!--/.col-xs-6.col-lg-4-->    
                        <div class="col-xs-6 col-lg-4">
                            <h3>CERTIFICATIONS</h3>                                                       
                            <button type="button" class="btn btn-default ">Développer la persistance des données</button>
                            <button type="button" class="btn btn-default ">développer des composants d'interface</button>                                                          
                        </div><!--/.col-xs-6.col-lg-4--> 
                    </div>
                </section>
                <section  class="panel panel-default ">
                    <h2 class="panel-heading">Formation</h2>                    
                    <div class="row ">
                        <div class="col-xs-6 col-lg-3">
                            <h3>Clever Institut, <em>Saint-Herblain</em> (44)</h3>
                            <p class="label label-default">2015 (55 jours)</p>
                            <p>Formation développement JAVA/JEE</p>          
                        </div><!--/.col-xs-6.col-lg-4--> 
                        <div class="col-xs-6 col-lg-3">
                            <h3>ENI ECOLE CHARTRES DE BRETAGNE, <em>Chatres de Bretagne</em> (35)</h3>
                            <p class="label label-default">2013 (8 mois)</p>
                            <p>CONCEPTEUR DEVELOPPEUR D'APPLICATION</p>          
                        </div><!--/.col-xs-6.col-lg-4--> 
                        <div class="col-xs-6 col-lg-3">
                            <h3>Université Catholique de l'Ouest, <em>Guinguamp</em> (22)</h3>
                            <p class="label label-default">2006</p>
                            <p>LICENCE PROFESSIONNELLE DE TECHNICO-COMMERCIAL</p>  
                            <ul>
                                <li>Identifier les besoins du client </li>   
                                <li>Etablit un cahier des charges avant de proposer une offre</li>    
                            </ul>        
                        </div><!--/.col-xs-6.col-lg-4--> 
                        <div class="col-xs-6 col-lg-3">
                            <h3>Lycée Saint-Sauveur, <em>Redon</em> (35)</h3>
                            <p class="label label-default">200</p>
                            <p>BTS INFORMATIQUE DE GESTION</p>                               
                        </div><!--/.col-xs-6.col-lg-4--> 
                    </div>                        
                </section>
                <section  class="panel panel-default ">
                    <h2 class="panel-heading">Expériences professionnelles</h2>
                    <div class="row ">
                        <div class="col-xs-6 col-lg-3">
                            <h3>DTA Ingénierie</h3>
                            <h4>Ingénieur d’Etudes en développement JAVA/JEE Junior</h4>
                            <h5 class="label label-default">Juillet – Octobre 2015</h5> 
                            <p>En formation</p>
                            <p>https://github.com/richardyoann</p>
                            <ul>
                                <li>Projet réalisation d’un cv en HTML et CSS</li>
                                <li>Projet réalisation d’un jeu puissance 4 en javascript</li>
                                <li>Projet réalisation d'un site de Streaming en JAVA JEE</li>
                                <li>Projet réalisation d'une application MVC bancaire</li>
                            </ul>                                
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-3">
                            <h3>Kermene</h3>
                            <h4>Développeur informatique</h4>	
                            <h5 class="label label-default">Avril - Juillet 2015</h5>
                            <h5 class="label label-default">Fevrier - Octobre 2015</h5>
                            <ul>
                                <li>Développement de scripts de gestion des utilisateurs du domaine.</li>   
                                <li>Gestion des quotas des utilisateurs sur un serveur de fichiers VB.Net.</li>									
                                <li>Inventaires des impressions du parc informatiques VB.Net.</li>
                                <li>Gestion des demandes d'investissements, plugin GLPI en PHP.</li>
                                <li>Gestion des connexions aux ordinateurs dans l'Active Directory</li>
                            </ul>                                  
                        </div><!--/.col-xs-6.col-l-->                        
                        <div class="col-xs-6 col-lg-3">
                            <h3>LAMBALLE COMMUNAUTE</h3>
                            <h4>Concepteur et développeur PHP</h4>	
                            <h5 class="label label-default">Novembre 2013 - Décembre 2013</h5>
                            <ul>
                                <li>Récupération de données dans le serveur LDAP de Zimbra.</li>
                                <li>Traitement et enregistrement des données dans une base de données MySQL.</li>
                                <li>Affichage des données d'un FreeBusy.</li>
                            </ul>	                             
                        </div><!--/.col-xs-6.col-l-->
                        <div class="col-xs-6 col-lg-3">
                            <h3>ENI ECOLE</h3>
                            <h4>Concepteur et développeur d'applications informatiques</h4>	
                            <h5 class="label label-default">Mars 2013 - Novembre 2013</h5>
                            <ul>
                                <li>Gestion clientéle d'une clinique vétérinaire VB.Net et BDD SQL Server.</li>
                                    <li>Gestion de test QCM en JAVA EE et BDD SQL Server.</li>
                                    <li>Conduite de projet sur la gestion des documents de l'écoles ENI.</li>
                            </ul>	                             
                        </div><!--/.col-xs-6.col-l-->
                    </div>
                </section>
                <footer class="row-offcanvas row-offcanvas-right">
                    <p >&copy; 2015 Yoann Erwan DTA<p>
                </footer>
        </div>
    </body>
</html>