<!DOCTYPE html>
<html>
<head>
<title>Yoann RICHARD CV </title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="CV Yoann RICHARD."/>
<meta charset="UTF-8"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"><img src="../img/yr.png" alt="Ici photo de Yoann RICHARD" class="img-circle"></div>
                    <div class="col-md-10"><h1>CV Yoann RICHARD</h1> </div>                    
                </div>   
                <h3 class="text-center">Ingénieur d’Etudes et Développement JAVA / JEE Junior</h3>
            </div>
        </div>        
    </header>
    <section>        
        <section class="panel panel-default">
          <h2 class="panel-heading">Domaines de compétences</h2>
          <ul>
              <li>Gestion de projet
                  <ul>
                    <li>Management d'un rayon multimédia et d'une équipe</li>
                  </ul>    
              </li>                
              <li>Assurance Qualité
                  <ul>
                      <li>Technicien informatique chez Proservia et Kermené
                          <ul>
                              <li>Norme NF345</li>
                              <li>ISO 9001</li>
                          </ul>
                      </li>                      
                  </ul>
              </li>
              <li>Qualités personnelles
                  <ul>
                      <li>Communicatif</li>
                      <li>Travailleur</li>
                      <li>Passionné par le monde de l'informatique</li>
                  </ul>
              </li>
              <li>Domaine Fonctionnel
                  <ul>
                      <li>Secteur de l'industrie agroalimentaire</li>
                      <li>Secteur de la grande distribution</li>                      
                  </ul>
              </li>
              <li>Langues
                  <ul>
                      <li>Anglais : Notions</li>
                  </ul>                     
              </li>
          </ul>
          
        </section>        
        <section class="panel panel-default">
            <h2 class="panel-heading">Environnement Technique</h2>
            <h4>JAVA /J2E :</h4>
            <div class="row">
                <div class="col-md-1"><h4 class="label label-primary">Spring</h4></div>
                <div class="col-md-1"><h4 class="label label-primary">Strut</h4></div>       
                <div class="col-md-1"><h4 class="label label-primary">Ejb</h4></div>               
            </div>      
                     
                    
                 <ul>                
                 <li>IDE :
                     <ul>
                         <li>NetBean</li>
                         <li>Eclipse</li>
                         <li>AngularJS</li>
                         <li>Visual Studio</li>
                         <li>Bracket</li>
                         <li>SublimeText</li>                       
                     </ul>
                 </li>
                 <li>SGBDR :
                     <ul>
                         <li>SQL Serveur</li>
                         <li>MySql</li>                      
                     </ul>
                 </li>
                 <li>Langage :
                     <ul>
                         <li>VB.Net</li>
                         <li>JAVA</li>                      
                         <li>PHP</li>                      
                         <li>JAVASCRIPT</li>                      
                         <li>POWERSHELL</li>                      
                     </ul>
                 </li>
                 <li>Méthodes : 
                     <ul>
                         <li>AGILE</li>
                         <li>SCRUM</li>
                     </ul>                     
                 </li>
                 <li>Certification : 
                     <ul>
                         <li>Développer la persistance des données</li>
                         <li>développer des applications X-tiers</li>
                     </ul>                     
                 </li>
             </ul>
        </section>
        <section  class="panel panel-default">
            <h2 class="panel-heading">Formation</h2>
            <ul>
              <li>2015 (55 jours) :
                  <ul >
                    <li class="list-unstyled">Formation développement JAVA/JEE, <em>Saint-Herblain</em> (44)</li>
                    <li class="list-unstyled">Certification JAVA 7 SE</li>                    
                  </ul>    
              </li>                
              <li>2013 :
                  <ul>
                      <li class="list-unstyled">ENI ECOLE CHARTRES DE BRETAGNE, <em>Chatres de Bretagne</em> (35)</li>
                      <li class="list-unstyled">CONCEPTEUR DEVELOPPEUR D'APPLICATION
                        <ul>
                            <li>Animer et conduire la réalisation de projets</li>
                        </ul>                      
                      </li> 
                  </ul>
              </li>
              <li>2006 :
                  <ul>
                      <li class="list-unstyled">UCO, <em>Guinguamp</em> (35)</li>
                      <li class="list-unstyled">LICENCE PROFESSIONNELLE DE TECHNICO-COMMERCIA
                          <ul>
                                <li>Identifier les besoins du client </li>   
                                <li>Etablit un cahier des charges avant de proposer une offre</li>    
                          </ul>                      
                      </li>                                                      
                  </ul>
              </li>
              <li>2005 :
                  <ul>
                      <li class="list-unstyled">LYCEE SAINT SAUVEUR, <em>REdon</em> (35)</li>
                      <li class="list-unstyled">BTS INFORMATIQUE DE GESTION</li>                                                    
                  </ul>
              </li>              
          </ul>
        </section>
          <section>
            <h2>Expériences professionnelles</h2>
             <ul>
                 <li>07/2015 – 09/2015	DTA Ingénierie :
                     <ul>
                       <li>Spring</li>
                       <li>Strut</li>
                       <li>Ejb</li>
                     </ul>    
                 </li>                
                 <li>07/2015 – 09/2015	Clever Institut – DTA Ingénierie, Saint Herblain (44)
                     <ul>
                         <li>NetBean</li>
                         <li>Eclipse</li>
                         <li>AngularJS</li>
                         <li>Visual Studio</li>
                         <li>Bracket</li>
                         <li>SublimeText</li>                       
                     </ul>
                 </li>
                 <li>04/2015 – 07/2015	KERMENE – SAINT JACUT DU MENE :
                     <ul>
                         <li>SQL Serveur</li>
                         <li>MySql</li>                      
                     </ul>
                 </li>
                 <li>02/2014 – 10/2014	KERMENE – SAINT JACUT DU MENE :
                     <ul>
                         <li>VB.Net</li>
                         <li>JAVA</li>                      
                         <li>PHP</li>                      
                         <li>JAVASCRIPT</li>                      
                         <li>POWERSHELL</li>                      
                     </ul>
                 </li>
                 
             </ul>
          </section>
            
            
            
          <blockquote>
            <h1>Bornéo</h1>
            <p>L'éléphant de la forêt vie à Bornéo…</p>
          </blockquote>
        </section>
    </section>

    <footer id="contentinfo" class="body">
        <p>&copy; 2015 Yoann Erwan DTA<p>
    </footer>
</body>
</html>